/*~~~~~~~~~~common_header_wrapper~~~~~~~~~~*/
.common_header_wrapper{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	background-color: #36b2e6;
	text-align: center;
}

/*~~~~~~~~~~common_nav_wrapper~~~~~~~~~~*/
.common_nav_wrapper{
	width: 100%;
	position: fixed;
	bottom: 0;
}
.common_nav_wrapper ul{
	font-size: 0;
}
.common_nav_wrapper ul li{
	display: inline-block;
}
.common_nav_wrapper ul li a{
	display: inline-block;
	width: 3.95rem;
	height: 3rem;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	text-align: center;
}
.common_nav_wrapper ul li:first-child a{
	border-left: none;
}
.common_nav_wrapper ul li label{
	font-size: 1rem;
}